body, html {
    justify-content: center;
    align-items: center;
    background-color: #fff44f;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
}

#bouncingImage {
    position: absolute;
    width: 200px;
    height: 200px; 
}
